html {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-color: #87A;
	color: #DDD;
	font-size: 14pt;
	vertical-align: top;
}

body {
	max-width: 1080px;
	margin: auto;
	padding: 1em;
	font-family: sans-serif;
	position: relative;
}

input[type=text] {
	width: 100%;
	font-size: 1.5em;
	background-color: #769;
	border: 1px solid black;
	color: white;
}

#aboutBtn {
	position: relative;
	float: right;
	top: 1.5em;
	right: 0em;
}

#textbox {
	font-family: monospace;
	font-weight: bold;
	width: 93%;
}

#textbox::placeholder {
	color: #FFF;
	opacity: 0.3;
}

#output_emoji {
	font-family: 'Segoe UI Emoji', 'Apple Color Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#palette {
	background-color: #769;
}

#palette table {
	width: 100%;
	border-collapse: collapse;
}

.td-emojiOn {
	font-family: 'Segoe UI Emoji', 'Apple Color Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 2em;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.2);
}

.td-emojiOff {
	font-family: sans-serif;
	font-size: 2em;
	text-align: center;
	border: 1px solid rgba(0,0,0,0.2);
}

#paletteControls {
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 0.3em;
	vertical-align: top;
}

button {
	font-weight: bold;
	font-size: 1em;
	vertical-align: top;
	height: 1.75em;
	border-radius: 5px;
	min-width: 1.75em;
}

.paletteMember {
	cursor: pointer;
}

.paletteMember:hover {
	background-color: rgba(255,255,255,0.2);
}

#rangeIndicatorContainer {
	display: inline-block;
	cursor: pointer;
	font-family: monospace;
	width: 10em;
	background-color: #769;
	height: 1.75em;
	vertical-align: middle;
}

#rangeIndicator {
	display: inline-block;
	margin-top: 0.3em;
}

#outputContainer {
	vertical-align: top;
}

.outputBox {
	display: inline-block;
}

#output, #output_emoji {
	box-sizing: border-box;
	width: 49.5%;
	height: 2em;
	font-size: 3em;
	padding: 0.3em;
	vertical-align: top;
}

#tooltipDiv {
	position: fixed;
	top: 0px;
	left: 0px;
	font-size: 1.2em;
	background-color: rgba(0,0,0,0.7);
	border-radius: 5px;
	border: 2px solid white;
	padding: 0.5em 1em;
}

.emojiToggleChecked {
	background-color: #FFA;
}

#modal {
	display: none;
	position: absolute;
	width: 800px;
	top: 2em;
	left: 5em;
	padding: 2em;
	background-color: rgba(80, 60, 110, 0.7);
	border-radius: 10px;
	border: 5px double white;
    backdrop-filter: blur(10px);
}

#modal a {
    color: lightcyan;
}

.keycap {
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    background-color: lightgray;
    color: black;
}